[github]
  user = wesdeboer
[user]
  name = Wes DeBoer
  email = wesdeboer@gmail.com
[alias]
  s = status
  c = commit -v
  ci = commit -v
  a = add
  d = diff
  dc = diff --cached
  b = branch
  l = log --oneline
  lg = log --oneline --graph --decorate
  co = checkout
  o = checkout
  ps = push
  psom = push origin master
[color]
  ui = true
[push]
  default = simple
